<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Registration</title>
    {{ form.non_field_label_tag }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        html, body {
            background: #fff;
            font-family: 'Roboto', sans-serif;
        }

        legend {
            color: #0379C4;
        }

        .navbar {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
            background: white;
            font-family: 'Roboto', sans-serif;
            border: 0;
            padding: 10px;
        }

        .navbar-brand {
            color: #0379C4 !important;
            font-weight: bolder;
        }

        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
            background: white;
        }

        .navbar-default .navbar-nav > li {
            font-weight: bold;
        }

        .navbar-default .navbar-nav > li:hover {
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);

        }

        .navbar-toggle {
            border: none;
        }

        .navbar-toggle:active, .navbar-toggle:hover, .navbar-toggle:focus {

            background: white !important;

        }

        .form-element {
            margin: 15px 0;
        }

        .col-lg-6 {
            height: 100%;
        }

        .row {
            padding: 10px;
        }

        #myImg {
            width: 140px;
        }

        #input-file {
            padding-bottom: 15px;
        }

        #id_doc_profile_pic {
            display: none;
        }

        .input-file {
            padding-bottom: 15px;
        }
        .error{
            color: #d9534f !important;
        }
    </style><script>
        function fileSizeValidate() {
            alert("here");
            var element = document.getElementById("id_marks");
            var size = element.files[0].size;
            var max_size = 1024 * 1024;
            //alert(element.files[0].size);
            if (size > max_size) {
                alert("File too big!");
                return false;
            }
            else {
                return true;
            }

            {#        1996-02-11#}
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-flash"></i>ERP</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<form action="{% url 'registration:register_student' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <fieldset class="col-lg-6">
                <legend>Basic Info:</legend>

                <div class="col-lg-6">

                    <div class="form-element">
                        <span class="error">{{ form.doc_profile_pic.errors }}</span>
                        {{ form.doc_profile_pic.label_tag }}
                        <div class="input-file">{{ form.doc_profile_pic }}</div>
                        <img id="myImg" src="http://www.ruralagriventures.com/wp-content/uploads/2017/05/man-team.jpg"
                             alt="Uploaded image is broken"/>
                    </div>


                    <div class="form-element">
                        <span class="error">{{ form.first_name.errors }}</span>
                        <label class="control-label">{{ form.first_name.label_tag }}</label>
                        <div class="">{{ form.first_name }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.middle_name.errors }}</span>
                        <label class="control-label">{{ form.middle_name.label_tag }}</label>
                        <div class="">{{ form.middle_name }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.last_name.errors }}</span>
                        <label class="control-label">{{ form.last_name.label_tag }}</label>
                        <div class="">{{ form.last_name }}</div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-element">
                        <span class="error">{{ form.DOB.errors }}</span>
                        <label class="control-label">{{ form.DOB.label_tag }}</label>
                        <div class="">{{ form.DOB }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.admission_type.errors }}</span>
                        <label class="control-label">{{ form.admission_type.label_tag }}</label>
                        <div class="">{{ form.admission_type }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.shift.errors }}</span>
                        <label class="control-label">{{ form.shift.label_tag }}</label>
                        <div class="">{{ form.shift }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.caste_type.errors }}</span>
                        <label class="control-label">{{ form.caste_type.label_tag }}</label>
                        <div class="">{{ form.caste_type }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.branch.errors }}</span>
                        <label class="control-label">{{ form.branch.label_tag }}</label>
                        <div class="">{{ form.branch }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.gr_number.errors }}</span>
                        <label class="control-label">{{ form.gr_number.label_tag }}</label>
                        <div class="">{{ form.gr_number }}</div>
                    </div>
                </div>

            </fieldset>
            <fieldset class="col-lg-6">
                <legend>Personal Detail:</legend>
                <div class="form-element">
                    <span class="error">{{ form.email.errors }}</span>
                    <label class="control-label">{{ form.email.label_tag }}</label>
                    <div class="">{{ form.email }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.mobile.errors }}</span>
                    <label class="control-label">{{ form.mobile.label_tag }}</label>
                    <div class="">{{ form.mobile }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.religion.errors }}</span>
                    <label class="control-label">{{ form.religion.label_tag }}</label>
                    <div class="">{{ form.religion }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.sub_caste.errors }}</span>
                    <label class="control-label">{{ form.sub_caste.label_tag }}</label>
                    <div class="">{{ form.sub_caste }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.handicapped.errors }}</span>
                    <label class="control-label">{{ form.handicapped.label_tag }}</label>
                    <div class="">{{ form.handicapped }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.nationality.errors }}</span>
                    <label class="control-label">{{ form.nationality.label_tag }}</label>
                    <div class="">{{ form.nationality }}</div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <fieldset class="col-lg-6">
                <legend>Family</legend>
                <fieldset class="col-lg-6">
                    {#                <legend>Father</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.father_name.errors }}</span>
                        <label class="control-label">{{ form.father_name.label_tag }}</label>
                        <div class="">{{ form.father_name }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.father_profession.errors }}</span>
                        <label class="control-label">{{ form.father_profession.label_tag }}</label>
                        <div class="">{{ form.father_profession }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.father_designation.errors }}</span>
                        <label class="control-label">{{ form.father_designation.label_tag }}</label>
                        <div class="">{{ form.father_designation }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.father_mobile.errors }}</span>
                        <label class="control-label">{{ form.father_mobile.label_tag }}</label>
                        <div class="">{{ form.father_mobile }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.father_email.errors }}</span>
                        <label class="control-label">{{ form.father_email.label_tag }}</label>
                        <div class="">{{ form.father_email }}</div>
                    </div>
                </fieldset>
                <fieldset class="col-lg-6">
                    {#                <legend>Mother</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.mother_name.errors }}</span>
                        <label class="control-label">{{ form.mother_name.label_tag }}</label>
                        <div class="">{{ form.mother_name }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.mother_profession.errors }}</span>
                        <label class="control-label">{{ form.mother_profession.label_tag }}</label>
                        <div class="">{{ form.mother_profession }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.mother_designation.errors }}</span>
                        <label class="control-label">{{ form.mother_designation.label_tag }}</label>
                        <div class="">{{ form.mother_designation }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.mother_mobile.errors }}</span>
                        <label class="control-label">{{ form.mother_mobile.label_tag }}</label>
                        <div class="">{{ form.mother_mobile }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.mother_email.errors }}</span>
                        <label class="control-label">{{ form.mother_email.label_tag }}</label>
                        <div class="">{{ form.mother_email }}</div>
                    </div>
                </fieldset>
            </fieldset>
            <fieldset class="col-lg-6">
                <legend>Emergency contact</legend>
                <div class="form-element">
                    <span class="error">{{ form.emergency_name.errors }}</span>
                    <label class="control-label">{{ form.emergency_name.label_tag }}</label>
                    <div class="">{{ form.emergency_name }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.emergency_mobile.errors }}</span>
                    <label class="control-label">{{ form.emergency_mobile.label_tag }}</label>
                    <div class="">{{ form.emergency_mobile }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.emergency_relation.errors }}</span>
                    <label class="control-label">{{ form.emergency_relation.label_tag }}</label>
                    <div class="">{{ form.emergency_relation }}</div>
                </div>
                <div class="form-element">
                    <span class="error">{{ form.emergency_address.errors }}</span>
                    <label class="control-label">{{ form.emergency_address.label_tag }}</label>
                    <div class="">{{ form.emergency_address }}</div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="col-lg-6">
                <legend>Address</legend>
                <fieldset class="col-lg-6">
                    {#                <legend>Permanent Address</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.permanent_address.errors }}</span>
                        <label class="control-label">{{ form.permanent_address.label_tag }}</label>
                        <div class="">{{ form.permanent_address }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.permanent_state.errors }}</span>
                        <label class="control-label">{{ form.permanent_state.label_tag }}</label>
                        <div class="">{{ form.permanent_state }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.permanent_city.errors }}</span>
                        <label class="control-label">{{ form.permanent_city.label_tag }}</label>
                        <div class="">{{ form.permanent_city }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.permanent_pin_code.errors }}</span>
                        <label class="control-label">{{ form.permanent_pin_code.label_tag }}</label>
                        <div class="">{{ form.permanent_pin_code }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.permanent_country.errors }}</span>
                        <label class="control-label">{{ form.permanent_country.label_tag }}</label>
                        <div class="">{{ form.permanent_country }}</div>
                    </div>
                </fieldset>
                <fieldset class="col-lg-6">
                    {#                <legend>Current Address</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.current_address.errors }}</span>
                        <label class="control-label">{{ form.current_address.label_tag }}</label>
                        <div class="">{{ form.current_address }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.current_state.errors }}</span>
                        <label class="control-label">{{ form.current_state.label_tag }}</label>
                        <div class="">{{ form.current_state }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.current_city.errors }}</span>
                        <label class="control-label">{{ form.current_city.label_tag }}</label>
                        <div class="">{{ form.current_city }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.current_pin_code.errors }}</span>
                        <label class="control-label">{{ form.current_pin_code.label_tag }}</label>
                        <div class="">{{ form.current_pin_code }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.current_country.errors }}</span>
                        <label class="control-label">{{ form.current_country.label_tag }}</label>
                        <div class="">{{ form.current_country }}</div>
                    </div>
                </fieldset>
            </fieldset>
            <fieldset class="col-lg-6">
                <legend>Exam</legend>
                <fieldset class="col-lg-6">
                    {#                <legend>Exam details</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.jee_physics.errors }}</span>
                        <label class="control-label">{{ form.jee_physics.label_tag }}</label>
                        <div class="">{{ form.jee_physics }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_maths.errors }}</span>
                        <label class="control-label">{{ form.jee_maths.label_tag }}</label>
                        <div class="">{{ form.jee_maths }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_chemistry.errors }}</span>
                        <label class="control-label">{{ form.jee_chemistry.label_tag }}</label>
                        <div class="">{{ form.jee_chemistry }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_total.errors }}</span>
                        <label class="control-label">{{ form.jee_total.label_tag }}</label>
                        <div class="">{{ form.jee_total }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_max_physics.errors }}</span>
                        <label class="control-label">{{ form.jee_max_physics.label_tag }}</label>
                        <div class="">{{ form.jee_max_physics }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_max_maths.errors }}</span>
                        <label class="control-label">{{ form.jee_max_maths.label_tag }}</label>
                        <div class="">{{ form.jee_max_maths }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.jee_max_chemistry.errors }}</span>
                        <label class="control-label">{{ form.jee_max_chemistry.label_tag }}</label>
                        <div class="">{{ form.jee_max_chemistry }}</div>
                    </div>
                </fieldset>
                <fieldset class="col-lg-6">
                    {#                <legend>Documents</legend>#}
                    <div class="form-element">
                        <span class="error">{{ form.doc_tenth_marksheet.errors }}</span>
                        <label class="control-label">{{ form.doc_tenth_marksheet.label_tag }}</label>
                        <div class="">{{ form.doc_tenth_marksheet }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.doc_twelfth_marksheet.errors }}</span>
                        <label class="control-label">{{ form.doc_twelfth_marksheet.label_tag }}</label>
                        <div class="">{{ form.doc_twelfth_marksheet }}</div>
                    </div>
                    <div class="form-element">
                        <span class="error">{{ form.doc_jee_marksheet.errors }}</span>
                        <label class="control-label">{{ form.doc_jee_marksheet.label_tag }}</label>
                        <div class="">{{ form.doc_jee_marksheet }}</div>
                    </div>
                    <div class="form-element">

                    </div>

                </fieldset>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <button type="submit" class="btn btn-primary" name="submit" value="submit">Register</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

    </div>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"#}
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"#}
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#id_doc_profile_pic:hidden").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {

        $('#myImg').attr('src', e.target.result);
    }
</script>

<script>
    $(function () {
        $("#myImg").on('click', function (e) {
            e.preventDefault();
            $("#id_doc_profile_pic:hidden").trigger('click');
        });
    });
</script>
</html>
